<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Película</title>
</head>
<body>
</section>
<form action="/movies/edit/<%= pelicula.id %>" method="POST">
    <section class="form">
        <div class="grupo-form">
            <h3><label for="">Título:</label></h3>
            <input type="text" name="title" value="<%= pelicula.title %> " >
        </div>
        <div class="grupo-form">
            <h3><label for="">Rating:</label></h3>
            <input type="text" name="rating" value="<%= pelicula.rating %> " >
        </div>
        <div class="grupo-form">
            <h3><label for="">Premios:</label></h3>
            <input type="text"  name="awards" value="<%= pelicula.awards %> ">
        </div>
        <div class="grupo-form">
            <h3><label for="">Fecha de estreno:</label></h3>
            <input type="date" id="barra"  name="realese_date" value="<%= pelicula.realese_date %> " >
        </div>
        <div class="grupo-form">
            <h3><label for="">Duración:</label></h3>
            <input type="number"  name="length" value="<%= pelicula.length %> ">
        </div>
        <div class="grupo-form">
            <h3><label for="">Género:</label></h3>
            <input type="text"  name="genre_id" value="<%= pelicula.genre_id %> " >
        </div>
        <div>
            <button type="reset" class="btn btn-outline-secondary mr-3">Borrar</button>
            <button type="submit" class="btn btn-outline-secondary mr-3" id="agregar">Editar</button>
        </div>
    </section>
</body>
</html>